<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8" />
        <title>ELEC PAY</title>
	</script>
		<script
			id="sap-ui-bootstrap"
			src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
            data-sap-ui-theme="sap_fiori_3"
            data-sap-ui-libs="sap.suite.ui.commons"
			data-sap-ui-libs="sap.ui.commons"
			data-sap-ui-libs="sap.m"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-async="true"
			data-sap-ui-frameOptions="trusted"
            data-sap-ui-oninit="module:sap/ui/core/ComponentSupport"
            data-sap-ui-resourceroots='{"rain.com.step1": "./"}'
        ></script>
	</head>
	<body class="sapUiBody">
        <div id="content"></div>
        <div data-sap-ui-component data-name="rain.com.step1" data-id="container" data-settings='{"id" : "rain"}'></div>
	</body>
</html>
